body{
    padding: 0;
    margin: 0;
    background-color: rgb(139,51,17);

}

.area-principal{
    margin-left: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 30px;
}

.container{
    padding: 20px 0px 20px 30px;
    margin: 10px 30px 20px 0;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 12px;
    gap: 15px;
    align-items: center;
}

.info{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
}

.eu{
    width: 230px;
    align-items: center;
    border-radius: 12px;
    border: 2px solid black;
}

.integrante{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.descricao{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding-right: 30px;
    height: 100%;
    align-items: center;
}

@media(max-width: 1000px){
    .area-principal{
        margin-left: 350px;

    }
}

@media(max-width: 730px){
    .area-principal{
        margin-left: 250px;

    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .integrante{
        margin-right: 30px;
    }

    .info{
        width: 100%;
        align-content: center;
        margin-left: 10px;
    }
}